<% provide(:title, "Home") %>

<html>
    <head>
      <title><%= yield(:title) %> |ruby is my love</title>
    </head>
 <body>
<h1>StaticPages#home</h1>
<p>hello people i am from home render from view</p>
<a href="#">HOME</a>
</body>
</html>