<footer class="footer">
  <small>
    THE <a href="#"> Ruby</a>
    BY  <a href="#">papa</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>